html {
    font-size: 16px;
}

* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: seashell;
}

header {
    Margin: 30px 0;
}

body {
    background-color: black;
}

.download-link {
    color: aquamarine;
    font-size: 1rem;
    text-decoration: none;

}

body p{
    font-size: 21px;
    color: grey;
}